<nav class="navbar my-4 navbar-expand-lg sticky-top navbar-light bg-light shadow-sm">
	<div class="container-fluid">
		<span class="navbar-brand font-weight-bold text-primary d-md-block d-lg-none">More Info</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#article_nav"><i class="bi-list"></i></button>
		<div class="collapse navbar-collapse" id="article_nav">
			<ul class="navbar-nav nav mx-auto" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="abstract-tab" data-toggle="tab" href="#abstract" role="tab" aria-controls="abstract" aria-selected="true">Abstract</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="article_info-tab" data-toggle="tab" href="#article_info" role="tab" aria-controls="article_info" aria-selected="false">Article Info</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="how_cite-tab" data-toggle="tab" href="#how_cite" role="tab" aria-controls="how_cite" aria-selected="false">How to Cite</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="citation-tab" data-toggle="tab" href="#citation" role="tab" aria-controls="citation" aria-selected="false">Citation Tools</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="metrics-tab" data-toggle="tab" href="#metrics" role="tab" aria-controls="metrics" aria-selected="false">Metrics</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
