<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand pl-md-2 pr-4 font-weight-bold" href="/">{{ _ENV('JOURNAL_ABBREV') }}</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"></button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-ejmcr">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aims-and-scope">Aims &amp; Scope</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editorial-board">Editorial Board</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Issues
          </a>
          <ul class="dropdown-menu shadow border-0">
            <li><a class="dropdown-item" href="/current-issue">Current Issue</a></li>
            <li><a class="dropdown-item" href="/latest-issue">Latest Articles</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/archives">Archives</a></li>
          </ul>
        </li>
      </ul>
			<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<button type="button" class="nav-link btn" data-toggle="modal" data-target="#subscribe_modal">Subscribe</button>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/guide-for-authors">Guide for Authors</a>
				</li>
				<li class="nav-item mx-lg-3">
					<a class="text-white btn btn-primary" href="http://ejmanager.com/my/{{ _ENV('JOURNAL_ABBREV') | lower }}" target="_blank" rel="noopener noreferrer">Submit a Menuscript</a>
				</li>
				<li class="nav-item">
					<button type="button" class="nav-link btn" data-toggle="modal" data-target="#search_modal"><?=$search_icon?></button>
				</li>
			</ul>
    </div>
  </div>
</nav>