{% extends "layout.twig" %}
{% block content  %}
	<header class="bg-light py-5">
		<div class="container-fluid text-center">
				<h1>Current issue</h1>
				<p class="lead">This is the current issue</p>
		</div>
</header>
{%  endblock  %}