{% extends "/admin/partials/layout.twig" %}
{% block content %}

<form class="mb-6" action="/admin/create-page" method="post">
    {% include "/admin/pages/form.twig" %}
</form>

        
{% endblock %}