{% extends "/admin/partials/layout.twig" %}
{% block content %}
<form class="mb-6" action="/admin/update-news/{{data.id}}" method="post"  enctype="multipart/form-data">
    {% include "/admin/news/form.twig" %}
</form>
{% endblock %}